* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

.header-signup:hover {
    transform: scale(1.02);
    background-color: #5790eb;
}

header {
    display: flex;
    justify-content: center;
    /* background-color: #1f2937; */
    background: linear-gradient(179deg,#1f2937 0%, #1e3b52 80%);
}

.header {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 12px;
    margin-bottom: 100px;
    flex-basis: 75%;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

 li {
     padding: 0;
     margin: 0 12px;
 }

 a {
     text-decoration: none;
 }

.links {
    display: flex;
}

.top {
    display: flex;
    justify-content: space-between;
}

.down {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    flex-basis: 40%;
}

.right {
    flex-basis: 50%;
}

.header-image {
    width: 100%;
    height: 220px;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
}

.sec-text, .links, a {
    font-size: 18px;
    color: #e6e7eb;
}

.header-signup {
    background-color: #3882f6;
    box-shadow: 0px -17px 42px -3px rgba(0,0,0,0.45);
    color: white;
    padding: 8px 32px;
    margin-top: 12px;
    border: none;
    border-radius: 11px;
    font-size: 18px;
    font-weight: bolder;
}

/* INFO */

.info { 
    /* border: 2px solid black; */
    text-align: center;
}

.info-title {
    margin: 30px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin-top: 32px;
    margin-bottom: 100px;
}

.item > img {
    width: 150px;
    border: 4px solid rgb(11, 198, 231);
    border-radius: 10px;
}

.text {
    width: 150px;
}

/* QUOTE */

.quote-container {
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
    /* border: 2px solid black; */
}

.quote {
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
    text-align: justify;
}

.quote-author {
    align-self: flex-end; 
    font-size: 22px;
    font-weight: bolder;
    color: #1f2937;
}

/* ACTION */

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.action-container {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 64px 0;
    border-radius: 10px;
    flex-basis: 75%;
}

.action-title {
    font-size: 24px;
    font-weight: bolder;
    color: #e5e7eb;
}

.action-text {
    font-size: 18px;
    color: #e5e7eb;
}

.action-button {
    background-color: #3882f6;
    color: white;
    padding: 8px 32px;
    margin-top: 12px;
    border: 3px solid white;
    border-radius: 11px;
    font-size: 18px;
    font-weight: bolder;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    background-color: #1f2937;
    color: #e5e7eb;
    font: 18px;
}